@model Jogador

@{
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>



<!-- FORMULÁRIO DE LOGIN -->
<main class="fundo-login">
    <div class="bkg-login">
        <form method="post" action='@Url.Action("Logar")' class="frm-login">
            <div class="login-title">
                <hr class="login-line">
                <h1>Login</h1>
            </div>
            <div class="frm-linha">
                <div class="bkg-input">
                    <img src="~/assets/vector-user.svg" alt="ícone de usuário">
                    <input type="email" name="Email" required placeholder="Digite seu e-mail:">
                </div>
            </div>
            <div class="frm-linha">
                <div class="bkg-input">
                    <img src="~/assets/vector-key.svg" alt="ícone de chave">
                    <input type="password" name="Senha" required placeholder="Digite sua senha:">
                </div>
            </div>

            <button type="submit" class="btn-logar">Logar</button>
            <br>
            <span> @TempData.Peek("Message") </span>
                
        </form>
    </div>

</main>

@* <form method="post" action='@Url.Action("Logar")'>

<label for="">Email</label>
<input type="email" name="Email" required>

<label for="">Senha</label>
<input type="password" name="Senha" required>

<button type="submit">Logar</button>

</form> *@